body{
    background: linear-gradient(to right, rgb(104, 250, 98), white)
}
h1,h2{
    text-align: center;
}
h1{
    font-family: algerian;
    font-size: 50px;

}
h2{
    font-size: 40px;
    border:outset;
}
a{
    font-size: 25px;
}