body{
    background: linear-gradient(to right, rgb(247, 127, 241), white)
}
h1,h2{
    text-align: center;
}
h1{
    font-family: algerian;
    font-size: 50px;

}
h2{
    font-size: 40px;
    color:rgb(105, 12, 226);
    border:inset;
    font-weight: 50px;
    font-size: 60px;
}
p.one{
    font-size: 30px;
    font-weight: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
p.two{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border: outset;
    border-radius: 10px;
    width: 600px;
    padding: 40px;
    background-color: rgb(255, 156, 255);
    border-width: 5px;
}
p.three{
    text-align: center;
    font-size: 35px;
    color: rgb(250, 14, 6);
    font-weight: 600;
    text-decoration: underline;
}
h3{
    font-weight: 300px;
    font-size: 30px;
}
li{
    font-size: 25px;
}
tr,td{
    font-size: 30px;
}
a{
    font-size: 25px;
}
marquee{
    font-weight: 500;
}
caption{
    font-weight: 500px;
}